// By default, @import looks for a Sass file in the same or 
// otherwise specified directory but there are a few circumstances 
// where it will behave just like a CSS @import rule:

// If the file’s extension is .css.
// If the filename begins with http://.
// If the filename is a url().
// If the @import has any media queries.


@import "helpers/mixin";
@import "helpers/variables";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #2e3738;
}


#landscape {
  @include parallax-background("https://content.codecademy.com/projects/sass/landscape.jpg");
}

#monkeys {
  @include parallax-background("https://content.codecademy.com/projects/sass/monkeys.jpg")
}

#landscape,
#monkeys {
  width: 100%;
  height: $parallax-height;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;

	h1{
		text-transform: uppercase;
	  	font-family: 'Bitter', serif;
	  	letter-spacing: 0.06em;
	  	font-size: 120px;
	  	color: #FFF;
	  	opacity: 0.7;
	  	text-align: center;
      transform: translateZ(-2px);
	  @include highlight-header(red);
	}
}

p {
	width: 70%;
	padding: 5%;
	margin: $center-margin;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
	@include highlight-header (purple);
	
	
}
$list: (orange, purple, teal, blue,yellow);
$list: (orange, purple, teal, blue,yellow);
@each $item in $list{
	$i: index($list,($item));
	ul li:nth-child(#{$i}){color: $item;
		@include highlight-header( rgb(92, 29, 49))
	}

}
 ul {@extend p;}